<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bpoint.banner">
	
	<select id="selectAll" resultType="bannerDTO">
		SELECT * 
		FROM banner
	</select> 
	
	<insert id="insert" parameterType="bannerDTO">
		insert into 
			banner (uid, title, image_path, banner_link_url, description, created_at)
			values(#{uid}, #{title}, #{image_path}, #{banner_link_url}, #{description}, #{created_at})
	</insert>
	
	<!-- 생성일은 수정 X -->
	<update id="update" parameterType="bannerDTO">
		update banner
		set uid=#{uid}, 
			title=#{title}, 
			image_path=#{image_path}, 
			banner_link_url=#{banner_link_url}, 
			description=#{description}
		where uid=#{uid}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from banner
		where uid=#{uid}
	</delete>
	
</mapper>