<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bpoint.bettube">
	
	<select id="selectAll" resultType="bettubeDTO">
		SELECT * 
		FROM bettube
		order by created_at
	</select> 
	
	<insert id="insert" parameterType="bettubeDTO">
		insert into 
			bettube (uid, title, bettube_url, description, created_at)
			values(#{uid}, #{title}, #{bettube_url}, #{description}, now())
	</insert>
	
	<!-- 생성일은 수정 X -->
	<update id="update" parameterType="bettubeDTO">
		update bettube
		set title=#{title}, 
			bettube_url=#{bettube_url},
			description=#{description}
		where uid=#{uid}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from bettube
		where uid=#{uid}
	</delete>
	
</mapper>