<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bpoint.chat">
	
	<select id="selectAll" resultType="chatDTO">
		SELECT * FROM chatbot_qa order by main_category desc
	</select> 

	<select id="questiontByMainCate" parameterType="String" resultType="chatDTO">
		SELECT * 
		FROM chatbot_qa
    	WHERE TRIM(main_category) = #{main_category}
	</select> 
	
	<insert id="insert" parameterType="chatDTO">
		insert into 
			chatbot_qa (uid, main_category, sub_category, question_text, answer_text)
			values(#{uid},#{main_category}, #{sub_category}, #{question_text}, #{answer_text})
	</insert>
	
	<update id="update" parameterType="chatDTO">
		update chatbot_qa
		set main_category=#{main_category},
			sub_category=#{sub_category},
			question_text=#{question_text}, 
			answer_text=#{answer_text}, 
			category=#{category}
		where uid=#{uid}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from chatbot_qa
		where uid=#{uid}
	</delete>

</mapper>