<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bpoint.game">
		
	<select id="selectAll" resultType="gameDTO">
		SELECT * FROM game 
		ORDER BY name
	</select>
	
	<select id="selectByUid" parameterType="String" resultType="gameDTO">
		SELECT * 
		FROM game
		WHERE uid=#{uid}
	</select>

	<!-- 게임 생성 -->
	<insert id="insert" parameterType="gameDTO">
		INSERT INTO game (uid, name, type, description, game_img, status, created_at)
		VALUES (#{uid}, #{name}, #{type}, #{description}, #{game_img}, #{status}, NOW())
	</insert>

	<!-- 게임 수정 -->
	<update id="update" parameterType="gameDTO">
		UPDATE game 
		SET name = #{name},
			type = #{type},
			description = #{description},
			status = #{status}
		where uid = #{uid}
	</update>
	
	<!-- 게임 삭제 -->
	<delete id="delete" parameterType="String">
		DELETE FROM game 
		WHERE uid=#{uid}
	</delete>

</mapper>